*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: coral;
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'Pacifico', cursive;
    
}
h1{
    
    font-family: 'Metal Mania', cursive;
}
.container{
margin: 0 auto;
width: 80%;

}
